.container {
    display: flex;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    height: 100px;
    width: 250px;
    align-items: center;
    background-color: white;
}